<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../style.css">
  <title>Testing</title>
</head>

<body>
  <h1>Hello World</h1>
  <div>
    <a href="/person/Aaron?qstr=lemons">Aaron</a>
  </div>

  <div>
    <form action="/person" method="POST">
      Firstname:
      <input type="text" id="firstname" name="firstname">
      <br> Lastname:
      <input type="text" id="lastname" name="lastname">
      <br>
      <button>Submit</button>
    </form>
  </div>
  <script>
    // post occurs on load and out puts to node console
    // demonstration of parsing json with bodyParser
    fetch('/personjson', {
      method: 'post',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        firstname: 'Aaron',
        lastname: 'Casanova'
      })
    })
  </script>
</body>

</html>